.titlebar {
	background: rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
	height: 60px;
}

.titlebar svg {
	color: white;
	cursor: pointer;
	margin-top: 10px;
	position: absolute;
	right: 15px;
	top: 3px;
}

h1 {
	color: white;
	left: 30px;
	position: absolute;
}

h3 {
	color: white;
	left: 30px;
	position: absolute;
}

.aboutme {
	background: rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
	height: 800px;
	margin: auto;
	position: relative;
	top: 50px;
	width: 1200px;
}

.biography {
	box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
	height: 50px;
}

.bioimg {
	position: absolute;
	right: 10px;
	width: 550px;
}

.text {
	position: absolute;
	top: 60px;
	width: 600px;
}

text {
	color: white;
	left: 30px;
	position: absolute;
	top: 35px;
}

.text2 {
	color: white;
	left: 30px;
	position: absolute;
	top: 185px;
}
