* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contact-body {
  width: 100%;
  height: 100vh;
}

.contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
}

.contact::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.contact-box {
  border-radius: 15px;
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #22272b;
  color: white;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
  border-radius: 15px 0 0 15px;
  height: 100%;

  background: url("Background.jpg") center;
  background-size: cover;
}

.right {
  padding: 25px 40px;
  z-index: 2;
}

th, td {
  color: white;
  padding: 5px;
}
h2 {
  color: white;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #fddb0d;
}

@media screen and (max-width: 880px) {
  .contact-box {
    grid-template-columns: 1fr;
    min-width: 330px;
  }

  .left {
    min-height: 370px;
    border-radius: 15px 15px 0 0;
  }
}
