.pagination {
  position: fixed;
  background: #22272b;
  bottom: 0;
  width: 100vw;
}

.pagination .MuiPaginationItem-root {
  background: rgba(0, 0, 0, 0.3);
  color: white;
}

.MuiPagination-ul {
  position: sticky;
  bottom: 0;
  justify-content: center;
}
