.pagination {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
  bottom: 0;
  width: 100vw;
}

.pagination .MuiPaginationItem-root {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
  color: white;
}

.MuiPagination-ul {
  display: flex;
  justify-content: center;
}
